{
  "database": {
    "host": "your_host",
    "user": "your_user",
    "password": "your_password",
    "dbname": "your_db",
    "port": "your_port"
  },
  "system": {
    "system_port": ":8000"
  }
}