{{define "band list"}}
<table class="table-auto w-full">
    <thead class="bg-gray-50 border-b-2 border-gray-200">
    <tr>
        <th class="th">Nome</th>
        <th class="th max-md:hidden">Tipo</th>
        <th class="th max-md:hidden">País</th>
        <th class="th">Data de oração</th>
    </tr>
    </thead>
    <tbody>
    {{ range $index, $element := . }}
    <tr class="{{ if isEven $index }}tr-even{{ else }}tr-odd{{ end }}">
        <td class="td">{{ $element.Title }}</td>
        <td class="td max-md:hidden">{{ $element.Type }}</td>
        <td class="td max-md:hidden">{{ $element.Country }}</td>
        <td class="td">{{ $element.CreatedAt }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{end}}