{{define "band modal"}}
<dialog data-modal class="modal" id="band-modal">
    <div class="m-8">
        <h1 class="modal-header">Cadastro</h1>
        <div class="mt-2">
            <form action="/band" method="POST">
                <div class="m-2">
                    <label for="login-email">Nome</label><br>
                    <input type="text" id="banda-name" name="name" placeholder="Nome" required class="modal-input"><br>
                </div>
                <div class="m-2">
                    <label for="login-password" class="mt-2">Tipo</label><br>
                    <input type="text" id="band-type" name="type" placeholder="Tipo" required class="modal-input">
                </div>
                <div class="m-2">
                    <label for="login-password" class="mt-2">País</label><br>
                    <input type="text" id="band-country" name="country" placeholder="País" required class="modal-input">
                </div>
                <button data-close-modal class="btn mt-2" id="close-band-modal">Cancelar</button>
                <button data-close-modal class="btn mt-2" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</dialog>
{{end}}