{{define "login modal"}}
<dialog data-modal class="modal" id="login-modal">
    <div class="m-8">
        <h1 class="modal-header">Login</h1>
        <div class="mt-2">
            <form action="/" method="POST">
                <div class="m-2">
                    <label for="login-email">Email</label><br>
                    <input type="email" id="login-email" name="Email" placeholder="Email" class="modal-input"><br>
                </div>
                <div class="m-2">
                    <label for="login-password" class="mt-2">Senha</label><br>
                    <input type="password" id="login-password" name="Senha" placeholder="Senha" required class="modal-input">
                </div>
                <button data-close-modal class="btn mt-2" id="close-login-modal">Cancelar</button>
                <button data-close-modal class="btn mt-2" type="submit">Login</button>
            </form>
        </div>
    </div>
</dialog>
{{end}}